<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Users Show {{data1.id}}</title>
        {%load static%}
        <link rel="stylesheet" href="{% static 'users/style.css' %}" media="screen" title="no title"  charset="utf-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
            <h1>Users id {{data1.id}}</h1>
            <p>Full Name: {{data1.first_name}} {{data1.last_name}}</p>
            <p>Email: {{data1.email}}</p>
            <p>Created at: {{data1.created_at}}</p>
            <p><a href="/edit/{{data1.id}}">Edit</a>|<a href="/delete/{{data1.id}}">Delete</a></p>
    </body>
</html>